// space between columns
var-columns = 12
var-gutter-width = 1rem

$grid-reset
  box-sizing border-box
  padding-left var-gutter-width
  padding-right var-gutter-width

.topcoat-grid
  @extend $grid-reset

// the row
.topcoat-grid__row
  box-sizing border-box
  display flex
  flex-wrap wrap
  margin-left - var-gutter-width
  margin-right - var-gutter-width

// generates .topcoat-grid__column--1, .topcoat-grid__column--2, ..., .topcoat-grid__column--12
for num in (1..var-columns)
  .topcoat-grid__column--{num}
    @extend $grid-reset
    flex-basis (100/var-columns)%*num

// generates .topcoat-grid__offset--1, .topcoat-grid__offset--2, ..., .topcoat-grid__offset--12
for num in (1..var-columns - 1)
  .topcoat-grid__offset--{num}
    @extend $grid-reset
    margin-left (100/var-columns)%*num

// use flex for auto width columns
.topcoat-grid__column--auto
  @extend $grid-reset
  flex 1 1 0
